body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none;
}
body main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 0.45s ease;
  display: flex;
  flex-direction: column;
}
body main header {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main header .hamburger {
  display: none;
}
body main header .headerLeft {
  width: 40px;
  height: 40px;
  margin-left: 40px;
}
body main header .headerLeft img {
  width: 100%;
  height: 100%;
}
body main header .middleLine {
  width: 600px;
  background: rgba(255, 255, 255, 0.459);
  height: 0.5px;
  opacity: 0.5;
  z-index: 1;
  position: absolute;
  left: 8%;
}
body main header .headerRight {
  width: 900px;
  height: 100px;
  background: linear-gradient(to right, hsla(0, 9%, 98%, 0.05), hsla(0, 6%, 87%, 0.171), hsla(0, 9%, 98%, 0.05));
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: white;
  font-family: "Barlow Condensed", sans-serif;
}
body main header .headerRight .innerHeaderRight {
  width: 800px;
  position: relative;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}
body main header .headerRight .innerHeaderRight ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}
body main header .headerRight .innerHeaderRight ul li {
  list-style: none;
  margin-right: 80px;
  font-size: 20px;
  letter-spacing: 1.75px;
  font-weight: 100;
  cursor: pointer;
}
body main header .headerRight .innerHeaderRight ul li span {
  font-weight: 600;
  margin-right: 10px;
}
body main header .headerRight .slider {
  width: 50px;
  height: 5px;
  background-color: white;
  position: absolute;
  top: 70px;
  transition: all 0.75s ease;
  border-radius: 5px;
}

main .mainContainer {
  width: 200vw;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
main .mainContainer .second-container {
  width: 100vw;
}
main .mainContainer .third-container {
  width: 100vw;
}
main .mainContainer .second-container, main .mainContainer .third-container {
  height: calc(100vh - 150px);
  transition: all 1s ease;
  display: flex;
}
main .mainContainer .second-container .homePageRightSize, main .mainContainer .third-container .homePageRightSize {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .mainContainer .second-container .homePageRightSize .circle, main .mainContainer .third-container .homePageRightSize .circle {
  width: 30%;
  height: 35%;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  font-size: 30px;
  font-family: "Cormorant", serif;
  letter-spacing: 2px;
  cursor: pointer;
}
main .mainContainer .second-container .homePageRightSize :active, main .mainContainer .third-container .homePageRightSize :active {
  transform: scale(0.7);
}
main .mainContainer .second-container .homePageLeftSize, main .mainContainer .third-container .homePageLeftSize {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .mainContainer .second-container .homePageLeftSize .innerLeft, main .mainContainer .third-container .homePageLeftSize .innerLeft {
  height: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
main .mainContainer .second-container .homePageLeftSize .innerLeft .pText0, main .mainContainer .third-container .homePageLeftSize .innerLeft .pText0 {
  font-size: 22px;
  letter-spacing: 5px;
  font-family: "Barlow Condensed", sans-serif;
}
main .mainContainer .second-container .homePageLeftSize .innerLeft .pText, main .mainContainer .third-container .homePageLeftSize .innerLeft .pText {
  width: 380px;
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.685);
  line-height: 28px;
}
main .mainContainer .second-container .homePageLeftSize .innerLeft h1, main .mainContainer .third-container .homePageLeftSize .innerLeft h1 {
  font-size: 130px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  letter-spacing: 6px;
  font-family: "Castoro Titling", cursive;
}

@media (max-width: 500px) {
  body main header {
    height: 100px;
    justify-content: space-between;
  }
  body main header .headerRight {
    display: none;
  }
  body main header .hamburger {
    width: 30px;
    height: 30px;
    display: inline-flex;
    margin-right: 40px;
  }
  body main header .headerLeft {
    width: 50px;
    height: 50px;
  }
  body main header .middleLine {
    display: none;
  }
  main .second-container {
    display: block;
    margin-top: 20px;
  }
  main .second-container .homePageLeftSize .innerLeft {
    text-align: center;
  }
  main .second-container .homePageLeftSize .innerLeft h1 {
    font-size: 70px;
    margin-bottom: 10px;
    margin: 0;
    padding: 0;
  }
  main .second-container .homePageLeftSize .innerLeft .pText0 {
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0.7;
  }
  main .second-container .homePageLeftSize .innerLeft .pText {
    margin: 0;
    width: 340px;
    height: 100px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
  }
  main .second-container .homePageRightSize {
    flex: 3;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  main .second-container .homePageRightSize .circle {
    width: 150px;
    height: 150px;
    font-size: 25px;
    cursor: pointer;
  }
}/*# sourceMappingURL=style.css.map */