body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
body main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: background-image 0.42s ease;
  display: flex;
  flex-direction: column;
}
body main .hamburgerSlider {
  display: none;
}
body main header {
  width: 100%;
  height: 180px;
  position: sticky;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
body main header .hamburger {
  display: none;
}
body main header .headerLeft {
  width: 50px;
  height: 50px;
  margin-left: 40px;
}
body main header .headerLeft img {
  width: 100%;
  height: 100%;
}
body main header .middleLine {
  width: 600px;
  background: rgba(255, 255, 255, 0.459);
  height: 0.5px;
  opacity: 0.5;
  z-index: 1;
  position: absolute;
  left: 8%;
}
body main header .headerRight {
  width: 900px;
  height: 100px;
  background: linear-gradient(to right, hsla(0, 9%, 98%, 0.05), hsla(0, 6%, 87%, 0.171), hsla(0, 9%, 98%, 0.05));
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: white;
  font-family: "Barlow Condensed", sans-serif;
}
body main header .headerRight .innerHeaderRight {
  width: 800px;
  position: relative;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}
body main header .headerRight .innerHeaderRight ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}
body main header .headerRight .innerHeaderRight ul li {
  list-style: none;
  margin-right: 80px;
  font-size: 20px;
  letter-spacing: 1.75px;
  font-weight: 100;
  cursor: pointer;
}
body main header .headerRight .innerHeaderRight ul li span {
  font-weight: 600;
  margin-right: 10px;
}
body main header .headerRight .slider {
  width: 50px;
  height: 5px;
  background-color: white;
  position: absolute;
  top: 70px;
  transition: all 0.75s ease;
  border-radius: 5px;
}
body main::-webkit-scrollbar {
  display: none;
}

main .mainContainer {
  width: 400vw;
  display: flex;
  flex-direction: row;
}
main .mainContainer .second-container {
  width: 100vw;
  height: calc(100vh - 150px);
  transition: margin-left 0.5s ease;
  display: flex;
}
main .mainContainer .second-container .homePageRightSize {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .mainContainer .second-container .homePageRightSize .circle {
  width: 30%;
  height: 35%;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  font-size: 30px;
  font-family: "Marcellus", serif;
  letter-spacing: 2px;
  cursor: pointer;
}
main .mainContainer .second-container .homePageRightSize :active {
  transform: scale(0.7);
}
main .mainContainer .second-container .homePageLeftSize {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .mainContainer .second-container .homePageLeftSize .innerLeft {
  height: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
main .mainContainer .second-container .homePageLeftSize .innerLeft .pText0 {
  font-size: 22px;
  letter-spacing: 5px;
  font-family: "Barlow Condensed", sans-serif;
}
main .mainContainer .second-container .homePageLeftSize .innerLeft .pText {
  width: 380px;
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.685);
  line-height: 28px;
}
main .mainContainer .second-container .homePageLeftSize .innerLeft h1 {
  font-size: 130px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  letter-spacing: 6px;
  font-family: "Marcellus", serif;
}
main .mainContainer .third-container {
  width: 100vw;
  display: flex;
  height: calc(100vh - 150px);
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  transition: margin-left 0.5s ease;
}
main .mainContainer .third-container .innerThird {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .mainContainer .third-container .innerThird .pickDestination {
  width: 100%;
  height: 110px;
  display: flex;
}
main .mainContainer .third-container .innerThird .pickDestination p {
  margin: 0;
  padding: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 24px;
  letter-spacing: 5px;
  color: white;
}
main .mainContainer .third-container .innerThird .pickDestination p span {
  font-size: 24px;
  color: rgba(226, 221, 221, 0.473);
  margin-right: 20px;
  font-weight: 500;
}
main .mainContainer .third-container .innerThird .destination {
  width: 100vw;
  height: calc(100% - 150px);
  display: flex;
}
main .mainContainer .third-container .innerThird .destination .innerDestinatinLeftSide {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .mainContainer .third-container .innerThird .destination .innerDestinatinLeftSide .universePhoto {
  width: 400px;
  height: 400px;
  transition: all 1.5s ease;
}
main .mainContainer .third-container .innerThird .destination .innerDestinatinLeftSide .rotateImage {
  transform: rotate(360deg);
}
main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .universeNameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}
main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .universeNameContainer .list-of-universe {
  width: 90%;
  height: 80px;
  display: flex;
  flex-direction: column;
  position: relative;
}
main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .universeNameContainer .list-of-universe .universeListSlider {
  height: 5px;
  background-color: white;
  position: absolute;
  top: 60px;
  transition: all 1s ease;
  border-radius: 10px;
}
main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .universeNameContainer .list-of-universe .destinationUL {
  width: 100%;
  height: 80px;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}
main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .universeNameContainer .list-of-universe .destinationUL li {
  margin-right: 20px;
  list-style: none;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  color: white;
  letter-spacing: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .text-of-universe {
  width: 90%;
  height: 300px;
}
main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .text-of-universe .universeInfo {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: white;
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.459);
}
main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .text-of-universe .universeInfo span {
  width: 80%;
  font-size: 90px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-family: "Castoro Titling", cursive;
}
main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .text-of-universe .universeInfo p {
  font-family: "Barlow Condensed", sans-serif;
  width: 330px;
  text-align: start;
  font-size: 18px;
  text-overflow: ellipsis;
}
main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .distance-of-universe {
  width: 90%;
  height: 120px;
  margin-top: 20px;
  display: flex;
}
main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .distance-of-universe .avg_Distance {
  flex: 2;
  height: 80%;
}
main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .distance-of-universe .avg_Distance span {
  font-size: 15px;
  font-family: "Barlow Condensed", sans-serif;
  color: rgba(219, 213, 213, 0.685);
}
main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .distance-of-universe .avg_Distance p {
  font-size: 25px;
  color: white;
  padding: 0;
  margin-top: 10px;
  font-family: "Castoro Titling", cursive;
}
main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .distance-of-universe .travelTime {
  flex: 4;
  height: 80%;
}
main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .distance-of-universe .travelTime span {
  font-size: 15px;
  font-family: "Barlow Condensed", sans-serif;
  color: rgba(219, 213, 213, 0.685);
}
main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .distance-of-universe .travelTime p {
  font-size: 25px;
  color: white;
  padding: 0;
  margin-top: 10px;
  font-family: "Castoro Titling", cursive;
}
main .mainContainer .fourth-container {
  width: 100vw;
  height: calc(100vh - 150px);
  align-items: center;
  justify-content: center;
  transition: margin-left 0.5s ease;
}
main .mainContainer .fourth-container .innerFourth {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
main .mainContainer .fourth-container .innerFourth .pickCrew {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
}
main .mainContainer .fourth-container .innerFourth .pickCrew p {
  margin: 0;
  padding: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 24px;
  letter-spacing: 5px;
  color: white;
}
main .mainContainer .fourth-container .innerFourth .pickCrew span {
  font-size: 24px;
  color: rgba(226, 221, 221, 0.473);
  margin-right: 20px;
  font-weight: 500;
}
main .mainContainer .fourth-container .innerFourth .crew {
  width: 100%;
  height: calc(100% - 110px);
  display: flex;
}
main .mainContainer .fourth-container .innerFourth .crew .innerCrewleftSide {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main .mainContainer .fourth-container .innerFourth .crew .innerCrewleftSide .crewTextBox {
  width: 90%;
  height: 300px;
  display: flex;
  flex-direction: column;
  color: white;
}
main .mainContainer .fourth-container .innerFourth .crew .innerCrewleftSide .crewTextBox span {
  font-family: "Castoro Titling", cursive;
  font-size: 25px;
  letter-spacing: 1px;
  opacity: 0.56;
  margin-bottom: 15px;
}
main .mainContainer .fourth-container .innerFourth .crew .innerCrewleftSide .crewTextBox h1 {
  font-size: 45px;
  font-family: "Marcellus", serif;
  font-weight: 200;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
}
main .mainContainer .fourth-container .innerFourth .crew .innerCrewleftSide .crewTextBox p {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 200;
  font-size: 18px;
  width: 466px;
  height: 150px;
  text-align: justify;
  line-height: 30px;
  opacity: 0.9;
}
main .mainContainer .fourth-container .innerFourth .crew .innerCrewleftSide .crewSlider {
  width: 50%;
  height: 100px;
  display: flex;
  align-items: center;
}
main .mainContainer .fourth-container .innerFourth .crew .innerCrewleftSide .crewSlider .hoverCircle {
  height: 12px;
  background-color: rgb(255, 252, 252);
  border-radius: 50%;
  position: absolute;
  transition: all 0.5s ease;
}
main .mainContainer .fourth-container .innerFourth .crew .innerCrewleftSide .crewSlider .crewSliderCircle {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
main .mainContainer .fourth-container .innerFourth .crew .innerCrewleftSide .crewSlider .crewSliderCircle li {
  width: 12px;
  height: 12px;
  background-color: rgb(255, 252, 252);
  margin-right: 25px;
  border-radius: 50%;
  opacity: 0.295;
}
main .mainContainer .fourth-container .innerFourth .crew .innerCrewRightSide {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
main .mainContainer .fourth-container .innerFourth .crew .innerCrewRightSide .crewImage {
  width: 70%;
  height: auto;
  position: absolute;
  transition: all 1s ease;
}
main .mainContainer .fourth-container .innerFourth .crew .innerCrewRightSide .moveCrewImageBack {
  transform: translateX(0px);
}
main .mainContainer .fourth-container .innerFourth .crew .innerCrewRightSide .moveCrewImage {
  transform: translateX(800px);
}
main .mainContainer .fifth-container {
  width: 100vw;
  height: calc(100vh - 150px);
  color: white;
  display: flex;
  justify-content: end;
  transition: margin-left 0.5s ease;
}
main .mainContainer .fifth-container .innerFifth {
  width: calc(100% - 200px);
}
main .mainContainer .fifth-container .innerFifth .pickTechnology {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
}
main .mainContainer .fifth-container .innerFifth .pickTechnology p {
  margin: 0;
  padding: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 24px;
  letter-spacing: 5px;
  color: white;
}
main .mainContainer .fifth-container .innerFifth .pickTechnology span {
  font-size: 24px;
  color: rgba(226, 221, 221, 0.473);
  margin-right: 20px;
  font-weight: 500;
}
main .mainContainer .fifth-container .innerFifth .technologyContent {
  width: 100%;
  display: flex;
}
main .mainContainer .fifth-container .innerFifth .technologyContent .left {
  flex: 3;
  display: flex;
}
main .mainContainer .fifth-container .innerFifth .technologyContent .left .technoInnerLeft {
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
}
main .mainContainer .fifth-container .innerFifth .technologyContent .left .technoInnerLeft .ul-con {
  display: flex;
}
main .mainContainer .fifth-container .innerFifth .technologyContent .left .technoInnerLeft .ul-con .active {
  background-color: white;
  color: black;
}
main .mainContainer .fifth-container .innerFifth .technologyContent .left .technoInnerLeft .ul-con .technoList {
  width: 200px;
  height: 80%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
}
main .mainContainer .fifth-container .innerFifth .technologyContent .left .technoInnerLeft .ul-con .technoList li {
  list-style: none;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0.5px solid rgba(255, 255, 255, 0.705);
  margin-bottom: 30px;
  font-size: 24px;
  transition: all 0.6s ease-in;
  cursor: pointer;
}
main .mainContainer .fifth-container .innerFifth .technologyContent .left .technoInnerLeft .technologyText {
  width: 500px;
  height: 60%;
}
main .mainContainer .fifth-container .innerFifth .technologyContent .left .technoInnerLeft .technologyText .theTechnology {
  font-size: 15px;
  font-family: "Barlow Semi Condensed", sans-serif;
  letter-spacing: 2px;
  color: white;
  font-weight: 100;
  transition: all 1s ease-in;
}
main .mainContainer .fifth-container .innerFifth .technologyContent .left .technoInnerLeft .technologyText .option {
  font-size: 45px;
  font-family: "Marcellus", serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  letter-spacing: 3px;
}
main .mainContainer .fifth-container .innerFifth .technologyContent .left .technoInnerLeft .technologyText .launchText {
  width: 383px;
  height: 189px;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-align: start;
  font-weight: 100;
  font-size: 18px;
  line-height: 30px;
}
main .mainContainer .fifth-container .innerFifth .technologyContent .right {
  flex: 2;
  display: flex;
  justify-content: end;
}
main .mainContainer .fifth-container .innerFifth .technologyContent .right img {
  width: 100%;
  height: auto;
}

/* Responsive Style */
/*
        @media(max-width : 560px){
            body{


                main{

                    overflow-x: hidden;
                    &::-webkit-scrollbar{
                        display: none;
                    }
                    .hamburger{

                        .hamburgerImg{
                            transition: all 0.5s ease;
                        }
                    }
                    .hamburgerSlider{
                        width: 0;
                        height: 100vh;
                        background: linear-gradient(to bottom,hsla(0, 9%, 98%, 0.05),hsla(0, 6%, 87%, 0.171),hsla(0, 9%, 98%, 0.05));
                        backdrop-filter: blur(10px);
                        z-index: 1;
                        position: absolute;

                        transition: width 0.5s ease-in-out;
                        display: flex;
                        align-items: center;
                        justify-content: center;


                        .hamULContainer{
                            width: 100%;
                            height: 50%;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            ul{
                                color: white;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                margin-left: -20px;
                                opacity: 0;
                                li{
                                    list-style: none;
                                    margin-bottom: 50px;
                                    font-size: 25px;
                                    font-family: 'Barlow Condensed', sans-serif;
                                    transition: all 0.5s ease;
                                    user-select: none;
                                    cursor: pointer;

                                    &:hover{
                                        transform: scale(1.5);
                                        border-bottom: 4px dotted  rgb(112, 174, 199);
                                    }
                                }
                            }
                        }
                    }

                    .slideDiv{
                        width: 80vw;
                    }

                    header{
                        height: 100px;
                        justify-content: space-between;
                        top: 10px;

                        .headerRight{
                            display: none;
                        }

                        .hamburger{
                            width: 30px;
                            height: 30px;
                            display: inline-flex;
                            margin-right: 40px;
                            position: absolute;
                            right: 0;
                            z-index: 3;
                        }
                        .headerLeft{
                            width: 50px;
                            height: 50px;
                        }


                        .middleLine{
                            display: none;
                        }
                    }
                }


            }



            main{
                .mainContainer{
                    width: 520vw;
                    margin-top: 0;
                    display: flex;
                    align-items: center;


                    .second-container{
                            width: 100vw;
                            height: 100vw;
                            display: block;
                            margin-top: 0;


                        .homePageLeftSize{

                            .innerLeft{
                                text-align: center;

                                h1{
                                    font-size: 70px;
                                    margin-bottom: 10px;
                                    margin: 0;
                                    padding: 0;
                                }
                                .pText0{
                                    font-size: 18px;
                                    letter-spacing: 3px;
                                    color: rgba(173, 168, 168, 0.719);
                                }

                                .pText{
                                    margin: 0;

                                    width: 340px;
                                    height: 100px;
                                    font-size: 15px;
                                    font-family: 'Roboto', sans-serif;
                                }

                            }
                        }

                        .homePageRightSize{
                                flex: 3;
                                user-select: none;
                            .circle{
                                width: 150px;
                                height: 150px;
                                font-size: 25px;
                                cursor: pointer;

                            }
                        }
                    }

                    .third-container{
                        width: 100vw;
                        height: 100vh;
                        justify-content: inherit;
                        margin-top: 50px;
                        .innerThird{
                           align-items: normal;
                            justify-content: unset;
                            margin-left: 50px;

                           .pickDestination{
                                height: 70px;
                                margin-left: 20px;

                                p{
                                    font-size: 18px;

                                    span{
                                        font-size: 18px;
                                    }
                                }
                           }

                            .destination{
                                width: 100vw;
                                height: 100vw;
                                flex-direction: column;


                                .innerDestinatinLeftSide{
                                    width: 100%;

                                    display: flex;
                                    align-items: center;
                                    justify-content: center;


                                    .universePhoto{
                                        width: 160px;
                                        height: 160px;
                                        margin-left: -100px;
                                    }
                                }

                                .innerDestinatinRightSide{
                                    .list-of-universe{
                                        width: 80%;
                                        margin-right: 100px;

                                        .universeListSlider{
                                            height: 3px;
                                        }
                                        .destinationUL{


                                            li{
                                                margin-right: 35px;
                                            }
                                        }
                                    }



                                    .text-of-universe{
                                        padding-left: 20px;
                                        .universeInfo{
                                            align-items: center;

                                            span{
                                                font-size: 60px;
                                                text-align: center;
                                            }
                                            p{
                                                width: 270px;
                                                height: 50px;
                                                text-align: center;
                                                text-overflow: unset;
                                            }
                                        }
                                    }
                                    .distance-of-universe{
                                        height: 70px;

                                        .avg_Distance{
                                            flex: 2;
                                            margin-left: 10px;
                                        }

                                        .travelTime{
                                            flex: 2;
                                        }

                                    }

                                }
                            }
                        }
                    }

                    .fourth-container{
                        width: 100vw;
                        height: 100vh;

                        .innerFourth{
                            .pickCrew{
                                justify-content: center;
                                display: flex;
                                align-items: center;
                            }
                            .crew{
                                display: flex;
                                flex-direction: column;

                                .innerCrewleftSide{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    .crewSlider{
                                       margin-left: 90px;
                                    }
                                    .crewTextBox{
                                        text-align: center;
                                        span{
                                            font-size: 23px;
                                            margin-bottom: 30px;
                                        }
                                        h1{
                                            font-size: 34px;
                                             margin-bottom: 20px;
                                        }
                                        p{
                                            width: 360px;
                                            text-align: center;
                                        }
                                    }
                                    .crewSlider{
                                        position: relative;
                                    }
                                }
                                .innerCrewRightSide{

                                    .crewImage{
                                        width: 100%;
                                        height: auto;

                                        top: 0px;
                                    }
                                }
                            }
                        }
                    }


                    .fifth-container{

                        .innerFifth{
                            width: 100vw;


                            .pickTechnology{
                                margin-left: 17%;
                                width: 70%;
                            }

                            .technologyContent{
                                flex-direction: column;

                                .right{

                                    img{
                                        width: 100%;
                                        height: auto;

                                    }
                                }

                                .left{

                                    .technoInnerLeft{
                                        flex-direction: column;

                                        .technologyText{
                                            display: flex;
                                            flex-direction: column;
                                            align-items: center;

                                            .theTechnology{
                                                margin-left: 70px;
                                            }

                                            .option{
                                                margin-top: 20px;
                                                margin-left: 50px;
                                                font-size: 38px;
                                            }
                                            .launchText{
                                                width: 70%;

                                                font-size: 15px;
                                                text-align: center;
                                                margin-left: 50px;
                                            }
                                        }

                                        .ul-con{

                                            .technoList{
                                                width: 100%;
                                                flex-direction: row;
                                                margin-top: 30px;

                                                li{
                                                    margin-left: 60px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }


        }
*/
@media (max-width: 1050px) {
  body main::-webkit-scrollbar {
    display: none;
  }
  body main .hamburger .hamburgerImg {
    transition: all 0.5s ease;
  }
  body main .hamburgerSlider {
    width: 0;
    height: 100vh;
    background: linear-gradient(to bottom, hsla(0, 9%, 98%, 0.05), hsla(0, 6%, 87%, 0.171), hsla(0, 9%, 98%, 0.05));
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    z-index: 1;
    position: absolute;
    transition: width 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body main .hamburgerSlider .hamULContainer {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body main .hamburgerSlider .hamULContainer ul {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -20px;
    opacity: 0;
  }
  body main .hamburgerSlider .hamULContainer ul li {
    list-style: none;
    margin-bottom: 50px;
    font-size: 25px;
    font-family: "Barlow Condensed", sans-serif;
    transition: all 0.5s ease;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    cursor: pointer;
  }
  body main .hamburgerSlider .hamULContainer ul li:hover {
    transform: scale(1.5);
    border-bottom: 4px dotted rgb(112, 174, 199);
  }
  body main .slideDiv {
    width: 80vw;
  }
  body main header {
    height: 100px;
    justify-content: space-between;
    top: 10px;
  }
  body main header .headerRight {
    display: none;
  }
  body main header .hamburger {
    width: 30px;
    height: 30px;
    display: inline-flex;
    margin-right: 40px;
    position: absolute;
    right: 0;
    z-index: 3;
  }
  body main header .headerLeft {
    width: 50px;
    height: 50px;
  }
  body main header .middleLine {
    display: none;
  }
  main {
    overflow: hidden;
  }
  main .mainContainer {
    width: 520vw;
    margin-top: 0;
    display: flex;
    align-items: center;
    overflow-y: scroll;
  }
  main .mainContainer .second-container {
    width: 100vw;
    height: 100vw;
    display: block;
    margin-top: 0;
  }
  main .mainContainer .second-container .homePageLeftSize .innerLeft {
    text-align: center;
  }
  main .mainContainer .second-container .homePageLeftSize .innerLeft h1 {
    font-size: 70px;
    margin-bottom: 10px;
    margin: 0;
    padding: 0;
  }
  main .mainContainer .second-container .homePageLeftSize .innerLeft .pText0 {
    font-size: 18px;
    letter-spacing: 3px;
    color: rgba(173, 168, 168, 0.719);
  }
  main .mainContainer .second-container .homePageLeftSize .innerLeft .pText {
    margin: 0;
    width: 340px;
    height: 100px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
  }
  main .mainContainer .second-container .homePageRightSize {
    flex: 3;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  main .mainContainer .second-container .homePageRightSize .circle {
    width: 150px;
    height: 150px;
    font-size: 25px;
    cursor: pointer;
  }
  main .mainContainer .third-container {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    margin-top: 50px;
  }
  main .mainContainer .third-container .innerThird {
    align-items: normal;
    justify-content: unset;
  }
  main .mainContainer .third-container .innerThird .pickDestination {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .mainContainer .third-container .innerThird .pickDestination p {
    font-size: 25px;
  }
  main .mainContainer .third-container .innerThird .pickDestination p span {
    font-size: 25px;
  }
  main .mainContainer .third-container .innerThird .destination {
    width: 100vw;
    height: 100vw;
    flex-direction: column;
    margin-top: 50px;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinLeftSide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinLeftSide .universePhoto {
    width: 160px;
    height: 160px;
    margin-left: -180px;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .universeNameContainer {
    width: 50%;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .universeNameContainer .list-of-universe {
    width: 100%;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .universeNameContainer .list-of-universe .universeListSlider {
    height: 3px;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .universeNameContainer .list-of-universe .destinationUL li {
    margin-right: 25px;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .text-of-universe {
    padding-left: 20px;
    width: 70%;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .text-of-universe .universeInfo {
    width: 70%;
    align-items: center;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .text-of-universe .universeInfo span {
    font-size: 60px;
    text-align: center;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .text-of-universe .universeInfo p {
    width: 330px;
    text-align: center;
    text-overflow: unset;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .distance-of-universe {
    width: 70%;
    height: 70px;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .distance-of-universe .avg_Distance {
    flex: 2;
    margin-left: 10px;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .distance-of-universe .travelTime {
    flex: 2;
  }
  main .mainContainer .fourth-container {
    width: 100vw;
    height: 100vh;
    display: flex;
  }
  main .mainContainer .fourth-container .innerFourth .pickCrew {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  main .mainContainer .fourth-container .innerFourth .crew {
    display: flex;
    flex-direction: column;
  }
  main .mainContainer .fourth-container .innerFourth .crew .innerCrewleftSide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .mainContainer .fourth-container .innerFourth .crew .innerCrewleftSide .crewSlider {
    margin-left: 90px;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 30%;
  }
  main .mainContainer .fourth-container .innerFourth .crew .innerCrewleftSide .crewTextBox {
    text-align: center;
    align-items: center;
  }
  main .mainContainer .fourth-container .innerFourth .crew .innerCrewleftSide .crewTextBox span {
    font-size: 23px;
    margin-bottom: 30px;
  }
  main .mainContainer .fourth-container .innerFourth .crew .innerCrewleftSide .crewTextBox h1 {
    font-size: 34px;
    margin-bottom: 20px;
  }
  main .mainContainer .fourth-container .innerFourth .crew .innerCrewleftSide .crewTextBox p {
    width: 360px;
    text-align: center;
  }
  main .mainContainer .fourth-container .innerFourth .crew .innerCrewleftSide .crewSlider {
    position: relative;
  }
  main .mainContainer .fourth-container .innerFourth .crew .innerCrewRightSide .crewImage {
    width: 50%;
    height: auto;
    top: 10px;
  }
  main .mainContainer .fifth-container .innerFifth {
    width: 100vw;
    height: 130vh;
  }
  main .mainContainer .fifth-container .innerFifth .pickTechnology {
    margin-left: 17%;
    width: 63%;
    justify-content: center;
  }
  main .mainContainer .fifth-container .innerFifth .technologyContent {
    flex-direction: column;
  }
  main .mainContainer .fifth-container .innerFifth .technologyContent .right img {
    width: 100%;
    height: auto;
  }
  main .mainContainer .fifth-container .innerFifth .technologyContent .left .technoInnerLeft {
    flex-direction: column;
  }
  main .mainContainer .fifth-container .innerFifth .technologyContent .left .technoInnerLeft .technologyText {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .mainContainer .fifth-container .innerFifth .technologyContent .left .technoInnerLeft .technologyText .theTechnology {
    margin-left: 70px;
  }
  main .mainContainer .fifth-container .innerFifth .technologyContent .left .technoInnerLeft .technologyText .option {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 38px;
  }
  main .mainContainer .fifth-container .innerFifth .technologyContent .left .technoInnerLeft .technologyText .launchText {
    width: 70%;
    font-size: 15px;
    text-align: center;
    margin-left: 50px;
  }
  main .mainContainer .fifth-container .innerFifth .technologyContent .left .technoInnerLeft .ul-con .technoList {
    width: 100%;
    flex-direction: row;
    margin-top: 30px;
  }
  main .mainContainer .fifth-container .innerFifth .technologyContent .left .technoInnerLeft .ul-con .technoList li {
    margin-left: 60px;
  }
}
@media (max-width: 560px) {
  main .mainContainer .third-container .innerThird .pickDestination p {
    font-size: 19px;
  }
  main .mainContainer .third-container .innerThird .pickDestination p span {
    font-size: 19px;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinLeftSide {
    margin-left: 50px;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .universeNameContainer {
    width: 90%;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .distance-of-universe {
    width: 100%;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .text-of-universe {
    width: 100%;
    padding-left: 40px;
    margin-top: 20px;
  }
  main .mainContainer .fourth-container .innerFourth {
    height: auto;
  }
  main .mainContainer .fourth-container .innerFourth .crew .innerCrewleftSide .crewSlider {
    margin-left: 0px;
  }
  main .mainContainer .fourth-container .innerFourth .crew .innerCrewRightSide .crewImage {
    top: -35px;
    width: 100%;
  }
  main .mainContainer .fifth-container .innerFifth {
    height: 100vh;
  }
  main .mainContainer .fifth-container .innerFifth .pickTechnology {
    width: 70%;
  }
  main .mainContainer .fifth-container .innerFifth .pickTechnology p {
    font-size: 21px;
  }
  main .mainContainer .fifth-container .innerFifth .pickTechnology p span {
    font-size: 21px;
  }
}
@media (max-width: 1300px) {
  body {
    overflow: hidden;
  }
  body main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  body main header .middleLine {
    display: none;
  }
  main .mainContainer {
    overflow-x: hidden;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide {
    justify-content: center;
  }
}
@media (max-width: 390px) {
  body {
    overflow-y: hidden;
  }
  body main {
    overflow-x: hidden;
    height: 100vh;
  }
  body main .hamburgerSlider {
    width: 0;
  }
  body main .slideDiv {
    width: 80vw;
  }
  main .mainContainer {
    align-items: normal;
    margin-top: 20px;
    overflow-y: scroll;
    height: 83vh;
  }
  main .mainContainer .second-container {
    margin-left: -100vw;
    margin-top: 0px;
  }
  main .mainContainer .third-container {
    justify-content: unset;
  }
  main .mainContainer .third-container .innerThird {
    margin-left: 0px;
  }
  main .mainContainer .third-container .innerThird .pickDestination {
    margin-left: 50px;
  }
  main .mainContainer .third-container .innerThird .pickDestination p {
    font-size: 15px;
  }
  main .mainContainer .third-container .innerThird .pickDestination p span {
    font-size: 18px;
    margin-right: 10px;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinLeftSide {
    margin-left: 0px;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinLeftSide .universePhoto {
    margin-left: 12px;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .list-of-universe {
    margin-right: 0;
    width: 80%;
    margin-left: 10px;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .list-of-universe .destinationUL li {
    margin-right: 20px;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .distance-of-universe {
    margin-left: 30px;
    width: 90%;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .distance-of-universe .travelTime {
    text-align: center;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .text-of-universe {
    height: 240px;
    padding: 0;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .text-of-universe .universeInfo {
    width: 100%;
  }
  main .mainContainer .third-container .innerThird .destination .innerDestinatinRightSide .text-of-universe .universeInfo p {
    width: auto;
  }
  main .mainContainer .fourth-container {
    display: flex;
    align-items: center;
  }
  main .mainContainer .fourth-container .innerFourth .crew .innerCrewleftSide {
    width: 100%;
  }
  main .mainContainer .fourth-container .innerFourth .crew .innerCrewleftSide .crewSlider {
    margin-left: 30px;
    margin-bottom: 80px;
    margin-top: 40px;
    width: 50%;
  }
  main .mainContainer .fourth-container .innerFourth .crew .innerCrewleftSide .crewTextBox {
    width: 100%;
  }
  main .mainContainer .fourth-container .innerFourth .crew .innerCrewleftSide .crewTextBox h1 {
    font-size: 27px;
    width: 100%;
  }
  main .mainContainer .fourth-container .innerFourth .crew .innerCrewleftSide .crewTextBox p {
    margin-left: 0px;
  }
  main .mainContainer .fifth-container .innerFifth {
    height: 100vh;
  }
  main .mainContainer .fifth-container .innerFifth .pickTechnology {
    margin-left: 12%;
    width: 80%;
  }
  main .mainContainer .fifth-container .innerFifth .pickTechnology p {
    font-size: 19px;
  }
  main .mainContainer .fifth-container .innerFifth .pickTechnology p span {
    font-size: 19px;
  }
  main .mainContainer .fifth-container .innerFifth .technologyContent .left .technoInnerLeft .ul-con .technoList li {
    margin-left: 40px;
  }
  main .mainContainer .fifth-container .innerFifth .technologyContent .left .technoInnerLeft .technologyText {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .mainContainer .fifth-container .innerFifth .technologyContent .left .technoInnerLeft .technologyText .theTechnology {
    margin-left: 50px;
  }
  main .mainContainer .fifth-container .innerFifth .technologyContent .left .technoInnerLeft .technologyText .option {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 35px;
  }
  main .mainContainer .fifth-container .innerFifth .technologyContent .left .technoInnerLeft .technologyText .launchText {
    width: 60%;
    font-size: 15px;
    text-align: center;
    margin-left: 30px;
  }
}/*# sourceMappingURL=style.css.map */